<p>Bonjour {{ fullName }},</p>
<br>
<strong>Cliquez ci-dessous pour réinitialiser votre mot de passe</strong>
<p>
    <a href="{{ url }}"><strong>Réinitialisation</strong></a>
</p>

<br>
<br>
<p>Si vous n'avez pas demandé cet e-mail, vous pouvez l'ignorer sans crainte.</p>
